<h1>All</h1>

<p><% @contacts.each do |contact| %></p>

  <p>First Name: <%= contact.first_name %></p>
  <p>Last Name: <%= contact.last_name %></p>
  <p>Email: <%= contact.email %></p>
  <p>Phone Number: <%= contact.phone_number %></p>
  <p>-----------------------------------------</p>

<% end %>