<h1>Show Me an Avatar</h1>

<h2><%= @avatar.name %> <%= @avatar.image %></h2>
<%= render partial: "avatar", locals: {avatar: @avatar} %>

<%= link_to 'Delete', "/avatars/#{@avatar.id}", method: :delete %>