<h1>List of All Graffiti Grabber Submissions</h1>
<% if current_user && current_user.admin%>
  <h2><%= link_to 'Submit Another Graffiti Request', '/images/new' %></h2>
<% end %> 

<% @images.each do |image| %>
  <h4> Graffiti Submission #: <%= link_to image.id, "/images/#{image.id}" %></h4>
  <h4>Description: <%= image.image %></h4>
  <h4>Location: <%= image.location %></h4>
<% end %>

