<h1>Individual Contact</h1>

<p>Full Name: <%= @contact.full_name %></p>
<p>Email: <%= @contact.email %></p>
<p>Phone Number: <%= @contact.phone_number %></p>
<br>
<h3> Updated On: <%= @contact.friendly_updated_at %></h3>