#my-gd-header {
  height: unset;
}

.gm-style-iw {
  background-color: rgb(128,128,128);
    border: 1px solid rgba(72, 181, 233, 0.6);
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    color: rgb(255, 255, 255) !important;
    font-family: gothambook;
    text-align: center;
    top: 15px !important;
    width: 350px !important;
}

#gd-container   {
   // font-family: 'Open Sans Condensed', sans-serif;
   font-size: 20px;
   // font-weight: 400;
   padding: 10px;
   background-color: #17263C;
   color: white;
   margin: 1px;
   // border-radius: 2px 2px 0 0; 
}

a.my-link {
  color: #F75850;
}

a.other-link {
  color: #F75850;
}

#background-pages{
  background-color: #F5F5F5;
  opacity: 0.9;
  padding: 20px;
  height: 1500px;
}

